/* max width 575px */


.imgen.primera img{
    top: 55px!important;
    left: 29%!important;
    z-index: 2!important;
    width: 100px!important;
}
.imgen.segunda img{
    top: 45px;
    left: 40%;
    z-index: 1;
    width: 57%;

}

.imgen img{
    opacity:0.7;
}
.imgen.tercera img{
    top:40px;
    width:155px;
}
.imgen.cuarta img{
    width:150px;
    top:190px;
    left:50%;
}
.imgen.sexta img{
    top: 132px!important;
    left: 57%!important;
    z-index: 1!important;
    width: 150px!important;
}
.imgen.quinta img {
    top: 142px;
    left: 45%;
    z-index: 1;
    width: 45%;
}


/*-----graphic-----*/


button.slick-prev:before, button.slick-next:before{
    width:132px;
}
button.slick-next.slick-arrow{
    left:60%;
}
button.slick-next:before {
    content: '';
    width: 132px;
    position: absolute;
    height: 70px;
    background: url(../img/arrow-left.png);
    background-repeat: no-repeat;
    left: 0px;
    top: -15px;
    transform: scaleX(-1);
}
.portfolio{
    overflow-x:hidden;
}

.slick-slide img {
    width: 100%;
    height: 200px!important;
    object-fit: contain!important;
}
.gallery img{
    margin:0;
}
iframe{
    height:50%;
}
.nav-button{
    margin-top:15px;
}